<div>
	
	<h1>Add Behaviour</h1>

<form>
  <div class="form-group">
    <label for="studentID">Behaviour ID:</label>
    <input type="text" ng-model="add.behaviour_id" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" ng-model="add.behaviour_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Points</label>
    <input type="number" ng-model="add.behaviour_points" class="form-control">
  </div>

  
  <button type="submit" ng-click="addbehaviour()" class="btn btn-default">Submit</button>
</form>
	
</div>